احا  
احه  
اير  
لعين  
واطي  
ابن ال  
ابن المرا  
ابن النيك  
ابن عاهر  
ابن كلب  
ابو شخة  
ابو فص  
اجا معي  
اجري فيك  
احيه  
اخو ال  
اخو القحبه  
افسخك  
اقلب وجهك  
الخرائ  
الزب  
السافل  
الساقط  
العايب  
العربان  
العرص  
العمى  
القحبة  
الكحبة  
الكحبه  
الكس  
الكلب  
الله ياخ  
انت عبيط  
انت غبي  
انذال  
انذل  
انعل ابو  
انكح  
انيك  
انيكك  
اهبل  
اونطة  
ايري ب  
ايري ف  
ايري  
بزاز  
بعبص  
بعص  
بغاي  
بندوق  
بهيمة  
تافه  
تجليخ  
ترهيط  
تزغيب  
تفو  
جلخ  
جلق  
حرامي  
حقير  
حلبتها  
حلبتو  
حلمات  
حمير  
حيوان  
خرا  
خراء  
خراي عل  
خراي  
خرة  
خرى  
خري  
خسيس  
خنيث  
خوازيق  
خول  
داشر  
داعر  
دعارة  
دلخ  
ديوث  
ديود  
زامل  
زب  
زبار  
زبالة  
زبر  
زبه  
زبي  
زراط  
زق  
زناة  
زناطير  
ساذج  
سافل  
سربوط  
سرموتا  
سفالة  
سكس  
سكسي  
سيكس  
سيكسي  
شرمها  
شرموط  
شرموطة  
شرموطه  
شلقة  
شلكة  
صايع  
صياعة  
ضرب عشرة  
طز في  
طيز  
عاهر  
عاهرة  
عايبة  
عبيط  
عديم الشرف  
عرص  
عكروت  
عيال الحرام  
غبي  
غتصب  
فاجر  
فاسق  
فجور  
فسختها  
قحاب  
قحب  
قحبة  
قذر  
قضيب كبير  
قضيبي  
كحبة  
كذاب  
كس  
كس اختك  
كس امك  
كس عرضك  
كسا  
كسمك  
كسمكم  
كسها  
كل خرا  
كل خرة  
كل زق  
كلاب  
كلب  
كلخر  
كلكم اولاد  
كلكم ولاد  
كول خر  
لحس  
لعنه  
لقحاب  
لوطي  
مأجور  
مبعوص  
متخوزق  
متناك  
مجنون  
مخانيث  
مخنث  
مدلس  
معوهر  
مفسوخ  
مكسكس  
مكوتها  
ملعون  
ممحون  
منايك  
منيك  
منيوك  
ناكك  
نجس  
نذل  
نفضك  
نفظك  
نكت اخته  
نكت امه  
نياكة  
نياكه  
هاذي اختك  
هاذي امك  
هذي اختك  
هذي امك  
واحد اهبل  
وسخ  
ولد القحبة  
ولد القحبه  
يا ابن ال  
يا اخوات ال  
يا خوات ال  
يا رخيص  
يا زنديق  
يا غبي  
يا كافر  
يا هبيلة  
يا ولاد ال  
يتناك  
يجيب ضهرو  
يخلع نيعك  
يسود وجه  
يزغب  
يفضح  
يفظح  
يولاد ال  
يلعن  
